parameters:
	ignoreErrors:
		-
			message: '#^Trait Zenstruck\\Mailer\\Test\\Bridge\\Zenstruck\\Browser\\MailerExtension is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Bridge/Zenstruck/Browser/MailerExtension.php

		-
			message: '#^Trait Zenstruck\\Mailer\\Test\\InteractsWithMailer is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/InteractsWithMailer.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Mime\\Email\:\:attachPart\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/SentEmails.php

		-
			message: '#^Call to function method_exists\(\) with Symfony\\Component\\Mime\\Email and ''addPart'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/SentEmails.php

		-
			message: '#^Method Zenstruck\\Mailer\\Test\\SentEmails\:\:first\(\) should return T of Zenstruck\\Mailer\\Test\\TestEmail but returns Zenstruck\\Mailer\\Test\\TestEmail\.$#'
			identifier: return.type
			count: 1
			path: src/SentEmails.php

		-
			message: '#^Method Zenstruck\\Mailer\\Test\\SentEmails\:\:last\(\) should return T of Zenstruck\\Mailer\\Test\\TestEmail but returns Zenstruck\\Mailer\\Test\\TestEmail\.$#'
			identifier: return.type
			count: 1
			path: src/SentEmails.php

		-
			message: '#^Parameter \#1 \$filter of method Zenstruck\\Mailer\\Test\\SentEmails\:\:where\(\) expects callable\(Symfony\\Component\\Mime\\Email\|Zenstruck\\Mailer\\Test\\TestEmail\)\: bool, Closure\(Symfony\\Component\\Mime\\Email\)\: bool given\.$#'
			identifier: argument.type
			count: 7
			path: src/SentEmails.php

		-
			message: '#^Parameter \#1 \$filter of method Zenstruck\\Mailer\\Test\\SentEmails\:\:where\(\) expects callable\(Symfony\\Component\\Mime\\Email\|Zenstruck\\Mailer\\Test\\TestEmail\)\: bool, Closure\(Zenstruck\\Mailer\\Test\\TestEmail\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/SentEmails.php

		-
			message: '#^Call to function is_a\(\) with arguments class\-string\<T of Zenstruck\\Mailer\\Test\\TestEmail\>, ''Zenstruck\\\\Mailer\\\\Test\\\\TestEmail'' and true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/TestEmail.php

		-
			message: '#^Method Zenstruck\\Mailer\\Test\\TestEmail\:\:as\(\) should return T of Zenstruck\\Mailer\\Test\\TestEmail but returns \$this\(Zenstruck\\Mailer\\Test\\TestEmail\)\.$#'
			identifier: return.type
			count: 1
			path: src/TestEmail.php

		-
			message: '#^Parameter \#1 \$events of static method Zenstruck\\Mailer\\Test\\SentEmails\:\:fromEvents\(\) expects Symfony\\Component\\Mailer\\Event\\MessageEvents, Symfony\\Component\\Mailer\\Event\\MessageEvents\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/TestMailer.php

